---
import SiteLogo from "@components/SiteLogo/SiteLogo.astro";
import siteData from "@config/siteData.json";
import { Icon } from "astro-icon/components";

import FooterLink from "./FooterLink.astro";

const today = new Date();
---

<footer class="bg-base-100/40 mt-12 flex flex-col items-center justify-center py-8">
    <div class="site-container">

        <div class="flex w-full flex-col items-center justify-between gap-2 text-lg md:grid md:grid-cols-5">
            <div class="flex justify-center py-2 text-center md:hidden">
                <SiteLogo />
            </div>

            <div class="col-span-2 flex justify-end gap-4">
                <FooterLink href="/">Home</FooterLink>
            </div>

            <div class="hidden justify-center text-center md:flex">
                <SiteLogo />
            </div>

            <div class="flex gap-4 md:col-span-2">
                <FooterLink href="/#contact">Contact</FooterLink>
            </div>
        </div>

        <div class="description mx-auto mt-6 max-w-[21rem] px-4 text-center">
            <p>
                <span class="italic">Hubungi Kami untuk Konsultasi</span><br/> 
                Kami spesialis Dokumentasi Pernikahan Adat Batak.<br/> 
                Teman Menua hadir untuk menangkap emosi & adat.
            </p>
        </div>

        <div class="text-primary-500 mt-8 flex justify-center gap-5">

            <a
                href="https://wa.me/6281213961134"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="WhatsApp"
            >
                <Icon name="simple-icons:whatsapp" class="size-6 transition hover:text-green-500" />
            </a>

            <a
                href="https://www.instagram.com/teman.menua/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Instagram"
            >
                <Icon name="simple-icons:instagram" class="size-6 transition hover:text-pink-500" />
            </a>

            <a
                href="https://www.tiktok.com/@teman.menua"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="TikTok"
            >
                <Icon name="simple-icons:tiktok" class="size-6 transition hover:text-black" />
            </a>

        </div>

        <div class="mt-8 text-center text-sm opacity-60">
            <p>&copy; {today.getFullYear()} Teman Menua. All rights reserved.</p>
        </div>

    </div>
</footer>